In [2]:
import os
os.getcwd()
os.chdir("H:\pyspark_advanced-coding_interview")
os.getcwd()

'H:\\pyspark_advanced-coding_interview'

In [3]:
from pyspark.sql import SparkSession

# Create a Spark session with optimized settings
spark = (
    SparkSession.builder 
    .appName("OptimizedLocalSpark") 
    .config("spark.driver.memory", "8g")        
    .config("spark.executor.memory", "8g")    
    .config("spark.executor.cores", "4")       
    .config("spark.cores.max", "12")           
    .config("spark.sql.shuffle.partitions", "28")  
    .config("spark.serializer", "org.apache.spark.serializer.KryoSerializer") 
    .getOrCreate()
)
sc = spark.sparkContext
# Check Configuration
print(sc.getConf().getAll())

[('spark.driver.extraJavaOptions', '-Djava.net.preferIPv6Addresses=false -XX:+IgnoreUnrecognizedVMOptions --add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.lang.invoke=ALL-UNNAMED --add-opens=java.base/java.lang.reflect=ALL-UNNAMED --add-opens=java.base/java.io=ALL-UNNAMED --add-opens=java.base/java.net=ALL-UNNAMED --add-opens=java.base/java.nio=ALL-UNNAMED --add-opens=java.base/java.util=ALL-UNNAMED --add-opens=java.base/java.util.concurrent=ALL-UNNAMED --add-opens=java.base/java.util.concurrent.atomic=ALL-UNNAMED --add-opens=java.base/jdk.internal.ref=ALL-UNNAMED --add-opens=java.base/sun.nio.ch=ALL-UNNAMED --add-opens=java.base/sun.nio.cs=ALL-UNNAMED --add-opens=java.base/sun.security.action=ALL-UNNAMED --add-opens=java.base/sun.util.calendar=ALL-UNNAMED --add-opens=java.security.jgss/sun.security.krb5=ALL-UNNAMED -Djdk.reflect.useDirectMethodHandle=false'), ('spark.app.id', 'local-1729305703794'), ('spark.app.startTime', '1729305702806'), ('spark.executor.id', 'driver'), ('spark.driver.host', 'localhost'), ('spark.app.submitTime', '1729305702635'), ('spark.executor.cores', '4'), ('spark.serializer', 'org.apache.spark.serializer.KryoSerializer'), ('spark.driver.port', '55491'), ('spark.rdd.compress', 'True'), ('spark.executor.extraJavaOptions', '-Djava.net.preferIPv6Addresses=false -XX:+IgnoreUnrecognizedVMOptions --add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.lang.invoke=ALL-UNNAMED --add-opens=java.base/java.lang.reflect=ALL-UNNAMED --add-opens=java.base/java.io=ALL-UNNAMED --add-opens=java.base/java.net=ALL-UNNAMED --add-opens=java.base/java.nio=ALL-UNNAMED --add-opens=java.base/java.util=ALL-UNNAMED --add-opens=java.base/java.util.concurrent=ALL-UNNAMED --add-opens=java.base/java.util.concurrent.atomic=ALL-UNNAMED --add-opens=java.base/jdk.internal.ref=ALL-UNNAMED --add-opens=java.base/sun.nio.ch=ALL-UNNAMED --add-opens=java.base/sun.nio.cs=ALL-UNNAMED --add-opens=java.base/sun.security.action=ALL-UNNAMED --add-opens=java.base/sun.util.calendar=ALL-UNNAMED --add-opens=java.security.jgss/sun.security.krb5=ALL-UNNAMED -Djdk.reflect.useDirectMethodHandle=false'), ('spark.driver.memory', '8g'), ('spark.serializer.objectStreamReset', '100'), ('spark.sql.shuffle.partitions', '28'), ('spark.master', 'local[*]'), ('spark.executor.memory', '8g'), ('spark.submit.pyFiles', ''), ('spark.app.name', 'OptimizedLocalSpark'), ('spark.submit.deployMode', 'client'), ('spark.ui.showConsoleProgress', 'true'), ('spark.cores.max', '12')]

In [4]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, year, month, sum



# Extended sample data
data = [
    ("SO71858", "2008-01-04", 15275.1977),
    ("SO71895", "2008-03-22", 272.6468),
    ("SO71897", "2008-04-10", 14017.9083),
    ("SO71920", "2008-05-15", 3293.7761),
    ("SO71774", "2008-06-25", 972.785),
    ("SO71786", "2008-07-03", 87.0851),
    ("SO71782", "2008-08-13", 42452.6519),
    ("SO71783", "2008-08-16", 43962.7901),
    ("SO71793", "2008-09-21", 32663.5609),
    ("SO71796", "2008-10-11", 63686.2708),
    ("SO71797", "2008-10-25", 86222.8072),
    ("SO81758", "2009-01-14", 18275.4871),
    ("SO81895", "2009-03-30", 3172.468),
    ("SO81897", "2009-04-12", 16027.1903),
    ("SO81920", "2009-05-20", 4529.8761),
    ("SO91774", "2009-06-05", 19872.785),
    ("SO91786", "2009-07-13", 5687.0901),
    ("SO91782", "2009-08-19", 30242.6519),
    ("SO91783", "2009-09-25", 50962.7901),
    ("SO91793", "2009-10-18", 41263.7609),
    ("SO91896", "2009-11-05", 73686.2908),
    ("SO71858", "2010-01-04", 17275.1277),
    ("SO71895", "2010-03-22", 3272.7468),
    ("SO71897", "2010-04-10", 14417.9083),
    ("SO71920", "2010-05-15", 1293.7761),
    ("SO71774", "2010-06-25", 1472.785),
    ("SO71786", "2010-07-03", 187.0851),
    ("SO71782", "2010-08-13", 37452.6519),
    ("SO71783", "2010-09-16", 43962.2901),
    ("SO71793", "2010-10-21", 22663.5609)
]

# Define schema for DataFrame
columns = ["SalesOrderNumber", "OrderDate", "TotalDue"]

# Create DataFrame
df = spark.createDataFrame(data, columns)

# Convert OrderDate to proper Date type
df = df.withColumn("OrderDate", col("OrderDate").cast("date"))

# Register DataFrame as a SQL temporary view
df.createOrReplaceTempView("Sales")




df.cache()
# Register DataFrame as a SQL temporary view
df.createOrReplaceTempView("Sales")
df.show()

+----------------+----------+----------+
|SalesOrderNumber| OrderDate|  TotalDue|
+----------------+----------+----------+
|         SO71858|2008-01-04|15275.1977|
|         SO71895|2008-03-22|  272.6468|
|         SO71897|2008-04-10|14017.9083|
|         SO71920|2008-05-15| 3293.7761|
|         SO71774|2008-06-25|   972.785|
|         SO71786|2008-07-03|   87.0851|
|         SO71782|2008-08-13|42452.6519|
|         SO71783|2008-08-16|43962.7901|
|         SO71793|2008-09-21|32663.5609|
|         SO71796|2008-10-11|63686.2708|
|         SO71797|2008-10-25|86222.8072|
|         SO81758|2009-01-14|18275.4871|
|         SO81895|2009-03-30|  3172.468|
|         SO81897|2009-04-12|16027.1903|
|         SO81920|2009-05-20| 4529.8761|
|         SO91774|2009-06-05| 19872.785|
|         SO91786|2009-07-13| 5687.0901|
|         SO91782|2009-08-19|30242.6519|
|         SO91783|2009-09-25|50962.7901|
|         SO91793|2009-10-18|41263.7609|
+----------------+----------+----------+
only showing top 20 rows

# Using Spark SQL

In [6]:
res = spark.sql ( """
SELECT YEAR(OrderDate) AS Year, SUM(TotalDue) AS YTD_Total
FROM Sales
GROUP BY YEAR(OrderDate)
ORDER BY Year
""")
res.show()

+----+-----------+
|Year|  YTD_Total|
+----+-----------+
|2008|302907.4799|
|2009|263720.3903|
|2010|141997.9319|
+----+-----------+

In [7]:
res2 = spark.sql("""
SELECT YEAR(OrderDate) AS Year, MONTH(OrderDate) AS Month, SUM(TotalDue) AS MTD_Total
FROM Sales
GROUP BY YEAR(OrderDate), MONTH(OrderDate)
ORDER BY Year, Month
""")
res2.show()

+----+-----+------------------+
|Year|Month|         MTD_Total|
+----+-----+------------------+
|2008|    1|        15275.1977|
|2008|    3|          272.6468|
|2008|    4|        14017.9083|
|2008|    5|         3293.7761|
|2008|    6|           972.785|
|2008|    7|           87.0851|
|2008|    8|         86415.442|
|2008|    9|        32663.5609|
|2008|   10|149909.07799999998|
|2009|    1|        18275.4871|
|2009|    3|          3172.468|
|2009|    4|        16027.1903|
|2009|    5|         4529.8761|
|2009|    6|         19872.785|
|2009|    7|         5687.0901|
|2009|    8|        30242.6519|
|2009|    9|        50962.7901|
|2009|   10|        41263.7609|
|2009|   11|        73686.2908|
|2010|    1|        17275.1277|
+----+-----+------------------+
only showing top 20 rows

In [9]:
res4 = spark.sql("""

select SalesOrderNumber, OrderDate, TotalDue, 
sum(TotalDue) over (partition by year(OrderDate) order by OrderDate) as YTD,
sum(TotalDue) over (partition by year(OrderDate) order by OrderDate rows between unbounded preceding and current row) as YTD_Frame,
sum(TotalDue) over (partition by year(OrderDate) order by OrderDate range between unbounded preceding and current row) as YTD_range,
sum(TotalDue) over (partition by year(OrderDate) order by OrderDate rows between 2 preceding and current row) as MTD_3
from Sales

""")
res4.show()

+----------------+----------+----------+------------------+------------------+------------------+------------------+
|SalesOrderNumber| OrderDate|  TotalDue|               YTD|         YTD_Frame|         YTD_range|             MTD_3|
+----------------+----------+----------+------------------+------------------+------------------+------------------+
|         SO71858|2008-01-04|15275.1977|        15275.1977|        15275.1977|        15275.1977|        15275.1977|
|         SO71895|2008-03-22|  272.6468|15547.844500000001|15547.844500000001|15547.844500000001|15547.844500000001|
|         SO71897|2008-04-10|14017.9083|29565.752800000002|29565.752800000002|29565.752800000002|29565.752800000002|
|         SO71920|2008-05-15| 3293.7761|32859.528900000005|32859.528900000005|32859.528900000005|        17584.3312|
|         SO71774|2008-06-25|   972.785| 33832.31390000001| 33832.31390000001| 33832.31390000001|18284.469399999998|
|         SO71786|2008-07-03|   87.0851|33919.399000000005|33919.399000000005|33919.399000000005|         4353.6462|
|         SO71782|2008-08-13|42452.6519|        76372.0509|        76372.0509|        76372.0509|         43512.522|
|         SO71783|2008-08-16|43962.7901|        120334.841|        120334.841|        120334.841| 86502.52709999999|
|         SO71793|2008-09-21|32663.5609|       152998.4019|       152998.4019|       152998.4019|119079.00289999999|
|         SO71796|2008-10-11|63686.2708|       216684.6727|       216684.6727|       216684.6727|       140312.6218|
|         SO71797|2008-10-25|86222.8072|       302907.4799|       302907.4799|       302907.4799|       182572.6389|
|         SO81758|2009-01-14|18275.4871|        18275.4871|        18275.4871|        18275.4871|        18275.4871|
|         SO81895|2009-03-30|  3172.468|        21447.9551|        21447.9551|        21447.9551|        21447.9551|
|         SO81897|2009-04-12|16027.1903|        37475.1454|        37475.1454|        37475.1454|        37475.1454|
|         SO81920|2009-05-20| 4529.8761|        42005.0215|        42005.0215|        42005.0215|        23729.5344|
|         SO91774|2009-06-05| 19872.785|61877.806500000006|61877.806500000006|61877.806500000006|        40429.8514|
|         SO91786|2009-07-13| 5687.0901| 67564.89660000001| 67564.89660000001| 67564.89660000001|30089.751200000002|
|         SO91782|2009-08-19|30242.6519|        97807.5485|        97807.5485|        97807.5485|         55802.527|
|         SO91783|2009-09-25|50962.7901|148770.33860000002|148770.33860000002|148770.33860000002|        86892.5321|
|         SO91793|2009-10-18|41263.7609|       190034.0995|       190034.0995|       190034.0995|       122469.2029|
+----------------+----------+----------+------------------+------------------+------------------+------------------+
only showing top 20 rows

# Using Pyspark

In [10]:
df_ytd = df.groupBy(year("OrderDate").alias("Year")).agg(sum("TotalDue").alias("YTD_Total"))
df_ytd .orderBy("Year").show()


mtd_df = df.groupBy(year("OrderDate").alias("Year"), month("OrderDate").alias("Month")).agg(sum("TotalDue").alias("MTD_Total"))
mtd_df.orderBy("Year", "Month").show()

+----+-----------+
|Year|  YTD_Total|
+----+-----------+
|2008|302907.4799|
|2009|263720.3903|
|2010|141997.9319|
+----+-----------+

+----+-----+------------------+
|Year|Month|         MTD_Total|
+----+-----+------------------+
|2008|    1|        15275.1977|
|2008|    3|          272.6468|
|2008|    4|        14017.9083|
|2008|    5|         3293.7761|
|2008|    6|           972.785|
|2008|    7|           87.0851|
|2008|    8|         86415.442|
|2008|    9|        32663.5609|
|2008|   10|149909.07799999998|
|2009|    1|        18275.4871|
|2009|    3|          3172.468|
|2009|    4|        16027.1903|
|2009|    5|         4529.8761|
|2009|    6|         19872.785|
|2009|    7|         5687.0901|
|2009|    8|        30242.6519|
|2009|    9|        50962.7901|
|2009|   10|        41263.7609|
|2009|   11|        73686.2908|
|2010|    1|        17275.1277|
+----+-----+------------------+
only showing top 20 rows

In [15]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import year, month, sum
from pyspark.sql.window import Window

# Initialize Spark Session (assuming it's already created)

# Step 1: Calculate Month-to-Date (MTD) totals
mtd_df = df.groupBy(year("OrderDate").alias("Year"), month("OrderDate").alias("Month")) .agg( sum("TotalDue").alias("MTD_Total") )

# Step 2: Define a Window for YTD Calculation
ytd_window = Window.partitionBy("Year").orderBy("Month").rowsBetween(Window.unboundedPreceding, Window.currentRow)

# Step 3: Add the YTD_Total column using the MTD_Total values and the Window function
ytd_mtd_df = mtd_df.withColumn("YTD_Total", sum("MTD_Total").over(ytd_window)).orderBy("Year", "Month")

# Show the final result
ytd_mtd_df.show()

+----+-----+------------------+------------------+
|Year|Month|         MTD_Total|         YTD_Total|
+----+-----+------------------+------------------+
|2008|    1|        15275.1977|        15275.1977|
|2008|    3|          272.6468|15547.844500000001|
|2008|    4|        14017.9083|29565.752800000002|
|2008|    5|         3293.7761|32859.528900000005|
|2008|    6|           972.785| 33832.31390000001|
|2008|    7|           87.0851|33919.399000000005|
|2008|    8|         86415.442|        120334.841|
|2008|    9|        32663.5609|       152998.4019|
|2008|   10|149909.07799999998|       302907.4799|
|2009|    1|        18275.4871|        18275.4871|
|2009|    3|          3172.468|        21447.9551|
|2009|    4|        16027.1903|        37475.1454|
|2009|    5|         4529.8761|        42005.0215|
|2009|    6|         19872.785|61877.806500000006|
|2009|    7|         5687.0901| 67564.89660000001|
|2009|    8|        30242.6519|        97807.5485|
|2009|    9|        50962.7901|148770.33860000002|
|2009|   10|        41263.7609|       190034.0995|
|2009|   11|        73686.2908|       263720.3903|
|2010|    1|        17275.1277|        17275.1277|
+----+-----+------------------+------------------+
only showing top 20 rows